h2 Работаем с удовольствием
h3 Наши преимущества

ul.advantages-list
	li.advantages-item.advantages-exclusive
		h4 Эксклюзив
		p Наш&nbsp;дизайнер ежедневно кропотливо трудится над&nbsp;созданием новых образов. Поразите своих гостей цветами, которых вы&nbsp;не&nbsp;увидите больше ни&nbsp;у&nbsp;кого.
	
	li.advantages-item.advantages-paper
		h4 Не&nbsp;просто бумага
		p Мы&nbsp;фанаты качественного материала, поэтому наша&nbsp;бумага выглядит действительно эффектно и&nbsp;дорого, даже после длинного мероприятия.
		
	li.advantages-item.advantages-delivery
		h4 Бесплатная доставка
		p Доставим бесплатно в&nbsp;пределах МКАД. Также бесплатно соберём, установим и&nbsp;демонтируем после мероприятия.
