a.menu-logo(href="") ColorEvent

ul.menu-menu
	li
		a(href="#advantages", data-scroll-to=".section-advantages") Преимущества
	li
		a(href="#rent", data-scroll-to=".section-rent") Аренда фотозон
	li
		a(href="#order", data-scroll-to=".section-order") На&nbsp;заказ
	li
		a(href="#contacts", data-scroll-to=".section-map") Контакты
		
button.menu-callback(data-popup-open="open")
	span Обратный звонок
