h2 Продуктивное сотрудничество
h3 Наши партнёры

ul.partners-partners
	li.partner-sposa
		img(src="img/index/partners/sposa.png")
		p Легендарный свадебный журнал «White Sposa Russia»
		
	li.partner-sladko
		img(src="img/index/partners/sladko.png")
		p Праздничное агентство Алёны Бородиной и Лены Кузьмичёвой
		
	li.partner-korston
		img(src="img/index/partners/korston.png")
		p «Korston Club Hotel» – отель, давно вошедший в категорию «лучшие отели и гостиницы Москвы»
		
	li.partner-marry
		img(src="img/index/partners/marry.png")
		p Агенство организации праздников и свадеб «Marry Marry»
