.quote-person.person
	.person-portrait
		img(src="img/index/team/anna.jpg")
	h4 Анна
	p маркетолог
		
.quote-text
	p Мы&nbsp;в&nbsp;ColorEvent создаём дизайнерские фотозоны из&nbsp;бумажных цветов и&nbsp;украшения для&nbsp;ваших праздников. Можем изготовить их 
		=	" "
		a(href="#order", data-scroll-to=".section-order") на&nbsp;заказ
		span.colored ,
		= " "
		| а&nbsp;можем сдать готовую
		= " "
		a(href="#rent", data-scroll-to=".section-rent") фотостену в&nbsp;аренду
		span.colored . Выберите свой вариант в&nbsp;портфолио!
	p Наши работы уникальны по&nbsp;своей красоте и&nbsp;сложности. Увидев однажды эти&nbsp;образы — хочется их&nbsp;повторить.
	
