.review-reviews
	.review-review(data-review="1")
		.review-nav
			button.review-prev(data-review-prev) Предыдущий отзыв
			button.review-next(data-review-next) Следующий отзыв
		.review-portrait
			img(src="img/index/review/reviews/1.jpg", data-review-portrait="1")
			img(src="img/index/review/reviews/2.png", data-review-portrait="2")
			img(src="img/index/review/reviews/3.jpg", data-review-portrait="3")
			img(src="img/index/review/reviews/4.jpg", data-review-portrait="4")
			img(src="img/index/review/reviews/5.jpg", data-review-portrait="5")
		.review-texts
			.review-text(data-review-text="1")
				p Ни&nbsp;на&nbsp;секунду не&nbsp;пожалели, что&nbsp;обратились к&nbsp;вам. Декор из бумажных цветов&nbsp;был сделан так&nbsp;красиво, даже лучше, чем мы&nbsp;предполагали! Все&nbsp;пожелания учтены и&nbsp;с&nbsp;вами так легко было общаться.
				p Всё сделали в&nbsp;срок и&nbsp;в&nbsp;лучшем виде, мы&nbsp;просто в&nbsp;восторге от&nbsp;вашего бумажного декора! Спасибо вам! 
			.review-text(data-review-text="2")
				p Для&nbsp;серебряной свадьбы семьи Бородиных мы&nbsp;придумали концепцию "Бородинский шоколад", и&nbsp;для&nbsp;сладости нам не&nbsp;хватало только гигантской плитки.
				p Фотозона получилась настолько аппетитная, что&nbsp;не&nbsp;раз за&nbsp;вечер гости пытались её&nbsp;попробовать на&nbsp;зубок!
			.review-text(data-review-text="3")
				p Ребята создали невероятный бумажный декор! Зал в&nbsp;ресторане преобразился, заиграл, гости были в&nbsp;восторге! А&nbsp;какие фотографии получились на&nbsp;фоне стены из бумажных цветов! Такая память осталась от&nbsp;празднования юбилея Мамы!
				p Пожелания все&nbsp;учли, оперативно сработали, вежливые и&nbsp;интеллигентные.
			.review-text(data-review-text="4")
				p Миллион благодарностей за&nbsp;свадебную фотостену «Бумажные цветы»! Cпасибо за&nbsp;оперативность, профессионализм, красоту и&nbsp;отличное настроение на&nbsp;свадьбе.
				p Отдельное спасибо Сергею, он&nbsp;профессионал и&nbsp;просто отличный человек, всегда на&nbsp;связи по&nbsp;всем вопросам.
			.review-text(data-review-text="5")
				p Примите мою&nbsp;искреннюю благодарность за&nbsp;ту&nbsp;прекрасную красоту, которую вы&nbsp;сделали!
				p Декор, а особенно стена из бумажных цветов стали поистине сюрпризом для&nbsp;наших гостей! Обязательно буду рекомендовать вас, как одного из&nbsp;лучших подрядчиков на&nbsp;нашем меропрриятии!
				
		.review-names
			.review-name(data-review-name="1") Анна
			.review-name(data-review-name="2") Алёна и Лена, «Sladko & Gorko»
			.review-name(data-review-name="3") Венера
			.review-name(data-review-name="4") Александр
			.review-name(data-review-name="5") Наталия
