.section-content
	h2 Лучшие ребята
	h3 Наша команда
	
ul.team-team
	li.team-person.person
		.person-portrait
			img(src="img/index/team/anna.jpg")
		h4 Анна
		p маркетолог
	
	li.team-person.person
		.person-portrait
			img(src="img/index/team/sergey.jpg")
		h4 Сергей
		p технолог
	
	li.team-person.person
		.person-portrait
			img(src="img/index/team/aleksandra.jpg")
		h4 Александра
		p художник-декоратор
	
	li.team-person.person
		.person-portrait
			img(src="img/index/team/tatyana.jpg")
		h4 Татьяна
		p художник-декоратор
